{% extends 'base.html' %}


<br>
{% block content %}

{% if patient_name %}
	<h1> Hello {{ patient_name }} !! </h1>

{% else %}
	<h1> Please book the case </h1>
	<br>
	<form method="POST" action="{{ url_for('main.list_page')}}">
        
		{{ form.hidden_tag() }}
		<div class="inputBox">
		{{ form.procedure_time.label() }}
		{{ form.procedure_time(class="form-control") }}
		<div class="error"></div>
		</div>

        <div class="inputBox">
            {{ form.patient_name.label() }}
            {{ form.patient_name(class="form-control") }}
            <div class="error"></div>
        </div>

        <div class="inputBox">
            {{ form.procedure_name.label() }}
            {{ form.procedure_name(class="form-control") }}
            <div class="error"></div>
        </div>

        <div class="inputBox">
            {{ form.surgeon.label() }}
            {{ form.surgeon(class="form-control") }}
            <div class="error"></div>
        </div>
        <div class="inputBox">
            {{ form.anaesthetist.label() }}
            {{ form.anaesthetist(class="form-control") }}
            <div class="error"></div>
        </div>
        <br>
        <div>
            
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

{% endif %}

{% endblock %}
<br>