{% extends 'base.html' %}

<br>
{% block content %}

	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
		{{ message }}
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	    
	{% endfor %} 

<h1> Theatre Lists </h1>
<br>

	{% for booking in bookings %}
	<table style="width: 100%; border: solid 1px black;">
		<thead>
			<tr style="border: solid 1px black;">
				<th>TIME</th>
				<th>NAME</th>
				<th>PROCEDURE</th>
				<th>SURGEON</th>
				<th>ANAESTHETIST</th>
				<th>REQ</th>
			</tr>
		</thead>
		<tbody>
			<tr style="border: solid 1px black;">
				<td>{{ booking.procedure_time }}</td>
				<td>{{ booking.patient_name }}</td>
				<td>{{ booking.procedure_name }}</td>
				<td>{{ booking.surgeon }}</td>
				<td>{{ booking.anaesthetist }}</td>
			</tr>
		</tbody>
	</table>

		<a href="{{ url_for('main.theatre_list', id=booking.id) }}" class="btn btn-outline-secondary btn-sm"> Show requirements </a>
		<a href="{{ url_for('main.edit_theatre_list', id=booking.id) }}" class="btn btn-outline-secondary btn-sm"> Edit Booking </a>
		<hr><br>
	{% endfor %}

{% endblock %}