{% if email %}
	<h1> Email: {{ email }}</h1>
	<h1> Password: {{ password }}</h1>
	<br>
	<h2> I found these guys: </h2>
	Email: {{ pw_to_check.email }}
	Password: {{ pw_to_check.password_hash }}
	<br>
	Passed: {{ passed }}

{% else %}
	<h1> What's your Email and Password? </h1>
	<br>
	<form method="POST">
		{{ form.hidden_tag() }}

		{{ form.email.label(class="form-label") }}
		{{ form.email(class="form-control") }}
		<br>

		{{ form.password_hash.label(class="form-label") }}
		{{ form.password_hash(class="form-control") }}
		<br>

		{{ form.submit(class="btn btn-primary") }}
	</form>
{% endif %}

